<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="info.staticfree.SuperGenPass"
	android:versionCode="8"
	android:versionName="1.0.7.3">
	<uses-sdk android:minSdkVersion="2" android:targetSdkVersion="4" />
 	<supports-screens android:anyDensity="true" android:smallScreens="true" android:largeScreens="true" />
 
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:description="@string/app_description">

		<activity android:name="Super_Gen_Pass"
				  android:theme="@android:style/Theme.Translucent"
				  android:screenOrientation="user"
				  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!--  integrate in the browser so it can be shared to -->
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>

		<activity android:name=".Preferences" android:label="@string/preferences">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
			</intent-filter>
		</activity>
	</application>
</manifest> 
